.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.label {
    font: var(--text-s);
    margin-bottom: 8px;
}
