.DialogItem {
    display: block;
    padding: 20px 24px;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--devider);
    }



    &.active {
        pointer-events: none;
        background-color: var(--accent-ligth);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--accent-ligth-hover);
        }
    }
}

.header {
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
}

.title {
    color: var(--gray);
}

.date {
    font: var(--text-s);
    color: var(--gray);
    white-space: nowrap;
}

.message {
    font: var(--text-s);

    span {
        /* stylelint-disable */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}
