.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    margin-bottom: 8px;
    font: var(--text-s);
}

.borderText {
    display: block;
    padding: 12px 20px;
    color: var(--gray);
    border-radius: 12px;
    border: 1px solid var(--accent-ligth);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
