.DropdownList {
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: 8px;
    padding: 4px;
    box-shadow: 0 2px 14px 0 #0000000f;
    border: 1px solid var(--accent-ligth);
    border-radius: 12px;
    background-color: var(--white);
}

.m {
    .dropdown {
        min-width: 200px;
    }
}

.auto {
    .dropdown {
        width: 100%;
    }
}

.item {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    border-radius: 10px;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            background-color: var(--accent-ligth-hover);
        }
    }
}
