.OverflowText {
    display: table;
    table-layout: fixed;
    width: 100%;
    flex-grow: 0;
}

.text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
