.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.label {
    font: var(--text-s);
    margin-bottom: 8px;
}

.description {
    display: block;
    margin-top: 8px;
    font: var(--text-s);
    color: var(--gray);
}

.error {
    color: var(--error);
}
