.RegistrationPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 50px;
}

.span {
    text-align: center;
}

.link {
    color: var(--accent-main);
}

@media (max-width: 768px) {
    .RegistrationPage {
        padding: 11px 11px 30px;
    }

    .wrapper {
        margin-top: 20px;
        padding: 0 5px;
        gap: 40px;
    }
}
